<div class="vertical-menu ">

  <a href="/read">Online Read</a>
  <a href="/books">Books</a>
  <a href="/cart">My Shopping Cart</a>
  <a href="#">More</a>
  <a href="#">More</a>
   <a href="#">More</a>
     <a href="#">More</a>
  <a href="#">More</a>
   <a href="#">More</a>
  
</div>